/* @import url(https://db.onlinewebfonts.com/c/75914226e45d53c888d99c55e1033690?family=Ubisoft+Sans+Bold);

@font-face {
  font-family: "Ubisoft Sans Bold";
  src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot");
  src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.svg#Ubisoft Sans Bold")format("svg");
}

*{
  font-family: "Ubisoft Sans Bold";
}

*/@import url(https://db.onlinewebfonts.com/c/75914226e45d53c888d99c55e1033690?family=Ubisoft+Sans+Bold);



@font-face {
  font-family: "Ubisoft Sans Bold";
  src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot");
  src: url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/75914226e45d53c888d99c55e1033690.svg#Ubisoft Sans Bold")format("svg");
}

*{
  font-family: "Ubisoft Sans Bold";
}
